/* .stretch {
  width: 110% !important;
} */

.search-section {
  width: 116%;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 50%;
}

.table-header > th {
  font-weight: bold !important;
  white-space: nowrap;
  text-align: center;
}

.btn-color {
  color: #fff;
  background-color: #034a6b;
}

.table-pad {
  padding: 25px 0 !important;
}

.actions {
  display: flex;
  align-items: center;
  padding-top: 1rem !important;
}

.icon {
  font-size: 20px !important;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #dde8ee;
  color: #595555;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
  color: #034a6b;
}
