.err-color {
  color: #ff0000;
  white-space: wrap;
}

.heading {
  color: #fff;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field .input {
  border-radius: 5px !important;
  border: 1px solid #adacac !important;
  padding: 5px;
  white-space: pre-line;
  word-wrap: break-word;
}

.label {
  white-space: nowrap;
}
.label_field {
  margin-top: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_bt {
  max-width: 200px;
}

.multi-form {
  background: red;
  height: 150% !important;
}

.multi-page {
  height: 00px;
}

/*progressbar*/
#progressbar {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

#progressbar .active {
  color: #1ed085;
  font-weight: 400;
}

.success-green {
  color: #1ed085;
}

.form-buttons {
  padding: 3rem 5rem;
}

.btn-section {
  padding-bottom: 30px;
}

.table-size {
  float: left;
  margin-right: 200px !important;
  width: 100%;
  padding: 35px 20px;
}

